.homepage-container {
  width: 100%;
  background-color: #081354d9;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

.blob-two {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

@media only screen and (max-width: 768px) {
  .box-two {
    height: 100vh;
  }
}

@media only screen and (max-width: 425px) {
  .box-text {
    font-size: 1.5rem;
  }

  .box-text-one {
    font-size: 1.2rem;
  }
}
