.homepage-container {
  width: 100%;
  background-color: #081354d9;
}

.homepage-title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
  padding: 1rem;
  color: white;
}

.homepage-text {
  padding: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.homepage-button {
  font-weight: 700;
  color: black;
}

.box-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-color {
  color: #081354d9;
}

.box-text {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.box-text-one {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

@media only screena and (max-width: 768px) {
  .box-two {
    height: 100vh;
  }
}
