
.calendar-container {
  background-color: #d1dcebd9;
}

@media only screen and (max-width: 425px) {
    .react-calendar__navigation {
        display: flex;
        flex-direction: column;
    }
    
      .react-calendar__navigation__label {
        font-weight: bold;
    }
  }

