  table {
    font-family: Roboto, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60vw;
    border-radius: 8px;
    margin: auto;
    }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 1rem;
  }

  td {
    font-size: 1.3rem;
  }

  table tr:hover {background-color: #ddd;}

  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #081354d9;
    color: white;
    border-radius: 4px;
  }

  thead {
    font-size: larger;
  }

  @media only screen and (max-width: 425px) {
    thead {
      font-size: 0.7rem;
    }

    td {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 340px) {
    .data-cell {
      padding: 0rem;
    }

    td {
      padding: 0rem;
    }
  }

